/* author: 张嘉程 */
/* create time: 2020/7/8 */
/* update time: 2020/7/12 */

body {
    margin: 0px;
    font-family: BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, PingFangSC-Regular, "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#container {
    width: 1680px;
    margin: 0 auto;
}

#ImageView {
    background: no-repeat 50%;
}

#distinguishBtn {
    background-color: #036fe2;
    transition: 0s;
    -webkit-transition: 0s;
}

#distinguishBtn:hover {
    background:#66b1ff;
    border-color:#66b1ff;
    color:#FFF;
}

#formContent {
}

#formContent input[type=text] {
    width: 450px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    height: 30px;
    color: #706c70;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#formContent input[type=text]:focus {
    border: 2px solid #555;
}

#formContent input[type=button] {
    display: block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin: 0 auto;
    border: none;
    color: #706c70;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,37,55,.5);
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#formContent input[type=button]:hover {
    background-color: #706c70;
    color: #FFFFFF;
}

.btn {

}

.file {
    position: relative;
    display: inline-block;
    background: #0073eb;
    border: none;
    padding: 4px 12px;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-indent: 0;
    line-height: 22px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    /*filter: alpha(opacity=0);*/
    cursor: pointer;
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
    cursor: pointer;
}