{#author: 郑志强#}
{#create time: 2020/7/14#}
{#update time: 2020/7/14#}
{% extends 'FunctionPage.html' %}

{% block content %}
<el-header style="color: white; font-size: 3em;">
    属性识别
</el-header>
<el-main style="color: white; padding-right: 660px; height: 150px;">
    针对小汽车识别11种外观属性，包括：是否有车窗雨眉、是否有车顶架、副驾驶是否有人、驾驶位是否系安全带、遮阳板是否放下、车辆朝向等
</el-main>
{% endblock %}

{% block download %}
    <a href="{% url 'attributes-download-packages' %}">
        <el-button type="primary" style="margin-left: 20px; margin-right: 20px;">
            下载离线包
        </el-button>
    </a>
    <a href="{% url 'attributes-download-doc' %}">
        <el-button plain>
            下载技术文档
        </el-button>
    </a>
{% endblock %}

{% block jump_path %}
    <form action="/online-identification/attributes/" method="post" enctype="multipart/form-data" style="width: 600px; margin: 0 auto;">
{% endblock %}

