{#author: 郑志强#}
{#create time: 2020/7/14#}
{#update time: 2020/7/14#}
{% extends 'FunctionPage.html' %}

{% block content %}
<el-header style="color: white; font-size: 3em;">
    车损检测
</el-header>
<el-main style="color: white; padding-right: 660px; height: 150px;">
    车辆外观损伤识别，针对常见小汽车车型，识别车辆外观受损部件及损伤类型，可识别数十种车辆部件、五大类外观损伤（刮擦、凹陷、开裂、褶皱、穿孔）
    主要应用于车祸，保险，车辆检修等场景
</el-main>
{% endblock %}

{% block download %}
    <a href="{% url 'destroy-download-packages' %}">
        <el-button type="primary" style="margin-left: 20px; margin-right: 20px;">
            下载离线包
        </el-button>
    </a>
    <a href="{% url 'destroy-download-doc' %}">
        <el-button plain>
            下载技术文档
        </el-button>
    </a>
{% endblock %}

{% block jump_path %}
    <form action="/online-identification/destroy/" method="post" enctype="multipart/form-data" style="width: 600px; margin: 0 auto;">
{% endblock %}

