{#author: 郑志强#}
{#create time: 2020/7/11#}
{#update time: 2020/7/12#}
{% extends 'FunctionPage.html' %}

{% block content %}
<el-header style="color: white; font-size: 3em;">
    车辆检测
</el-header>
<el-main style="color: white; padding-right: 660px; height: 150px;">
    识别图像中的所有车辆，返回每辆车的类型和坐标位置，可识别小汽车、卡车、巴士、摩托车、三轮车5大类车辆
    并且可以在检测和识别的基础上，对小汽车、卡车、巴士、摩托车、三轮车5类车辆分别计数，支持指定不规则区域的车辆统计
</el-main>
{% endblock %}

{% block download %}
    <a href="{% url 'nums-download-packages' %}">
        <el-button type="primary" style="margin-left: 20px; margin-right: 20px;">
            下载离线包
        </el-button>
    </a>
    <a href="{% url 'nums-download-doc' %}">
        <el-button plain>
            下载技术文档
        </el-button>
    </a>
{% endblock %}

{% block jump_path %}
    <form action="/online-identification/nums/" method="post" enctype="multipart/form-data" style="width: 600px; margin: 0 auto;">
{% endblock %}

