<!-- author: 张嘉程 -->
<!-- create time: 2020/7/8 -->
<!-- update time: 2020/7/25 -->

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="MainPage.html" />
            </files>
        </defaultDocument>
        <httpProtocol> 
        <customHeaders> 
            <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/> 
            <add name="Access-Control-Allow-Headers" value="x-requested-with"/> 
            <add name="Access-Control-Allow-Origin" value="*" /> 
        </customHeaders> 
    </httpProtocol>
</configuration>
